* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 34px;
}

header {
    height: 100vh;
    background-image: url("../imagens/background.png");
    background-position: center;
    background-size: cover;
}

p {
    font-size: 15px;
    line-height: 18px;
    color: #777777;
}

header .btn-comum {
    margin-top: 20px;
    margin-bottom: 60px;
}

#menu-horizontal ul {
    list-style: none;
    background-color: #F67C92;  
    height: 50px;
    padding: 15px;
    text-decoration: none;
    float: right;
}

#menu-horizontal ul li {
    display: inline;
}

#menu-horizontal ul li a {
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    width: 100%;
}

#menu-horizontal ul li a:hover {
    background-color: bisque;
    transition-duration: 3s;
}

#logo {
    margin-top: 20px;
    width: 100px;
}

.texto-cabecalho {
    max-width: 350px;
    margin-top: 140px;
}

.btn-comum {
    padding: 18px 40px;
    background-color: transparent;
    border: 2px solid #F67C92;
    font-weight: bold;
    cursor: pointer;
}

#sobre {
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sobre-col-esquerda {
    flex-basis: 50%;
}

.sobre-col-direita {
    flex-basis: 50%;
    text-align: right;
}

.sobre-col-esquerda img {
    width: 100%;
}

.sobre-texto {
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}

.sobre-texto h2 {
    margin: 50px 0 10px;
    font-size: 25px;
    font-style: italic;
}

.sobre-texto h3 {
    font-size: 15px;
    font-style: italic;
    color: #797979;
}